@font-face{
    font-family: "DINPro-Light";
    src: url(../fonts/DINPro-Light.otf) format("truetype");
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
    background: transparent;
}

.page_title{
    font-size: 4vw;
    position: fixed;
    float: left;
    margin-left: 40%;
}

.setaEsquerda{ 
    cursor: pointer; 
    float: left; 
    padding: 5% 15% 5% 5%;
}

.setaDireita{
    cursor: pointer; 
    float: right;  
    padding: 5% 0% 5% 15%; 
}

.next{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    float: right;
    margin-right: 78%;
    max-height: 20px;
    max-width: 10px;
}

.back{ 
    margin-left: 78%;
    max-height: 20px;
    max-width: 10px;
}

.ui-page-theme-a{
    background: url(../images/bg_parte1.png)!important;
    background-size: cover!important;
    background-position: center center!important;
    background-attachment: fixed!important;
}

p{
    font-family: "DINPro-Light";
    color:#dadada;
    font-size: 3.8vw;
    font-weight: 300;
    text-align: center;
    text-shadow:none;

}

.ui-page-theme-a .ui-btn, .ui-page-theme-a .ui-btn:hover{
    font-family: "DINPro-Light";
    background-color: #4f5477;
    border-color: #4f5477;
    border-radius: 2px;
    color: #b8b8b8;
    font-size: 3.8vw;
    /*line-height: 15px;*/
    margin-top: 13%;
    margin-bottom: 10%;
    padding: 5%;
    text-shadow:none;
}
    
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a0a2ab;
    border-radius: 4px;
    box-shadow: none;
    color: #7c8990;
    font-family: "DINPro-Light"!important;
    margin: 2% 0;
    text-shadow: none;
    outline: 0;
    width: 100%
}

.ui-input-text input, .ui-input-search input {
    font-size: 3.8vw;
}

.ui-header, .ui-footer {
    border-style: none;
    border-width: 1px 0;
    position: relative;
}

hr{
    width: 88%;
    background-color: #fff;
    border-top: none;
}

.form{
    margin: auto;
    margin-top: 5%;
    width: 75%;
}


#suporte, #termos{
    color:#ffffff;
    font-family: "DINPro-Light";
    font-size: 3.4vw;
}
.ui-page-theme-a a{
    color:#ffffff!important;
    font-weight: 300;
}