@font-face{
    font-family: "DINPro-Light";
    src: url(../fonts/DINPro-Light.otf) format("truetype");
}

html, body{
    height: 100%; 
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
    background: transparent;
}

.page_title{
    font-size: 4vw;
}

.next{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    float: right;
    margin-right: 78%;
    max-height: 30px;
    max-width: 10px
}

.back{
    margin-left: 78%;
    max-height: 30px;
    max-width: 10px
}

.ui-page-theme-a{
    /** background: url(../images/bg_parte1.png)!important; **/
    background-size: cover!important;
    background-position: center center!important;
    background-attachment: fixed!important;
}

.ui-page-theme-a .ui-btn, .ui-page-theme-a .ui-btn:hover{
    font-family: "DINPro-Light";
    background-color: #4F5477;
    border-color: #4F5477;
    border-radius: 2px;
    color: #ffffff;
    font-size: 3.8vw;
    line-height: 15px; 
    padding: 5%;
    text-shadow:none;
}
            

p{
    font-family: "DINPro-Light";
    color:#dadada;
    font-size: 3.8vw;
    font-weight: 300;
    text-align: center;
    text-shadow:none;

}

.ui-header, .ui-footer {
    border-style: none;
    border-width: 1px 0;
    position: relative;
}

hr{
    width: 88%;
    background-color: #fff;
    border-top: none;
}


.form{
    margin: auto;
    margin-top: 50%;
    width: 75%;
}

.ui-page-theme-a a{
    color:#ffffff!important;
    font-weight: 300;
}

.ui-header, .ui-footer {
    border-style: none;
    border-width: 1px 0;
    position: relative;
}

#div_crop_imagem{
    border: dashed;
    border-width: 2px;
    border-color: #ffffff;
    margin: 2%;
} 

#container_crop{
    padding: 1%;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
}
#img_crop{
    width: 100%;
}   