@font-face{
    font-family: "DINPro-Light";
    src: url(../fonts/DINPro-Light.otf) format("truetype");
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
    background: transparent;
}

.page_title{
    font-size: 4vw;
    position: fixed;
    float: left;
    margin-left: 25%;
}
.setaEsquerda{ 
    cursor: pointer; 
    float: left; 
    padding: 5% 15% 5% 5%;
}

.setaDireita{
    cursor: pointer; 
    float: right;  
    padding: 5% 0% 5% 15%; 
}

.next{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    float: right;
    margin-right: 78%;
    max-height: 30px;
    max-width: 10px
}

.back{
    margin-left: 78%;
    max-height: 30px;
    max-width: 10px
}

.ui-page-theme-a{
    background: url(../images/bg_parte1.png)!important;
    background-size: cover!important;
    background-position: center center!important;
    background-attachment: fixed!important;
}

.ui-page-theme-a .ui-btn, .ui-page-theme-a .ui-btn:hover{
    font-family: "DINPro-Light";
    background-color: #4F5477;
    border-color: #4F5477;
    border-radius: 2px;
    color: #ffffff;
    font-size: 3.8vw;
    line-height: 15px;
    padding: 5%;
    text-shadow:none;
}
    

p{
    font-family: "DINPro-Light";
    color:#dadada;
    font-size: 3.8vw;
    font-weight: 300;
    text-align: center;
    text-shadow:none;

}

.ui-header, .ui-footer {
    border-style: none;
    border-width: 1px 0;
    position: relative;
}

hr{
    width: 88%;
    background-color: #fff;
    border-top: none;
}

#container_crop{
    padding: 1%;
    background-color: rgba(44, 106, 110, .09);
    width: 100%; 
}

#div_crop_imagem{
    border: dashed;
    border-width: 2px;
    border-color: #a5a9b0;
    margin: 2%;
}

#icon_foto{
    margin: auto;
    padding: 8% 0 0;
    width: 20%;
}

#subtitulo_icon{
    padding: 0 0 6%;
}


.form{
    margin: auto;
    margin-top: 16%;
    width: 75%; 
}

 #tirar_foto{
    font-family: "DINPro-Light";
    font-weight: 300;
    background-color: transparent;
    border: transparent ;
    border-bottom: solid #9a9495 1px;
    border-radius: 2px;
    color: #9a9495;
    line-height: 15px;
    margin-bottom: 5%;
    outline: none;
    box-shadow: none;
    text-shadow:none;
}

#abrir_galeria{
    font-family: "DINPro-Light";
    font-weight: 300;
    background-color: transparent;
    border: transparent ;
    border-bottom: solid #9a9495 1px;
    border-radius: 2px;
    margin-top: 5%;
    color: #9a9495;
    line-height: 15px;
    outline: none;
    box-shadow: none;
    text-shadow:none;
}
